@{
    ViewBag.Title = "Add Log";
}

<h2>@ViewBag.Title.<a name="add_log"></a>Add Log</h2>
<div>
<section id="addLogForm">
    <table border="0">
            <tbody>
                <tr>
                    <td>Log type:</td>
                    <td>
                        <select id="log_type">
                            <option value="1">LOG_BGL - 1</option>
                            <option value="2">LOG_INSULIN - 2</option>
                            <option value="3">LOG_CARBS - 3</option>
                            <option value="4">LOG_PROTEIN - 4</option>
                            <option value="5">LOG_FAT - 5</option>
                            <option value="6">LOG_BGL_MG - 6</option>
                            <option value="7">LOG_KETONES - 7</option>
                            <option value="8">LOG_BP - 8</option>
                            <option value="9">LOG_HBA1C - 9</option>
                            <option value="10">LOG_NOTES - 10</option>
                            <option value="11">LOG_FRUC - 11</option>
                            <option value="12">LOG_WEIGHT - 12</option>
                            <option value="13">LOG_EXERCISE_LOW - 13</option>
                            <option value="14">LOG_EXERCISE_MEDIUM - 14</option>
                            <option value="15">LOG_EXERCISE_HIGH - 15</option>
                            <option value="16">LOG_ILLNESS - 16</option>
                            <option value="17">LOG_PREMENSTRUAL - 17</option>
                            <option value="18">LOG_ADRENALINE - 18</option>
                            <option value="19">LOG_STRESS - 19</option>
                            <option value="20">LOG_HEIGHT - 20</option>
                            <option value="21">LOG_HBA1C_NEW - 21</option>
                            <option value="22">LOG_BGL_SENSOR - 22</option>
                            <option value="23">LOG_AUDIT - 23</option>
                            <option value="24">LOG_TEMP_BASAL - 24</option>
                            <option value="30">LOG_DR_ENDO - 30</option>
                            <option value="31">LOG_DR_EYE - 31</option>
                            <option value="32">LOG_DR_KIDNEY - 32</option>
                            <option value="33">LOG_DR_BLOODS - 33</option>
                            <option value="34">LOG_DR_NERVE - 34</option>
                            <option value="35">LOG_DR_EDUC - 35</option>
                            <option value="36">LOG_DR_DIET - 36</option>
                            <option value="37">LOG_DR_THYROID - 37</option>
                            <option value="38">LOG_HBA1C_HOME - 38</option>
                            <option value="39">LOG_CUSTOM_1 - 39</option>
                            <option value="40">LOG_CUSTOM_2 - 40</option>
                            <option value="41">LOG_ALCOHOL - 41</option>
                            <option value="42">LOG_C_PEPTIDE - 42</option>
                            <option value="43">LOG_FASTING_PLASMA_GLUCOSE - 43</option>
                            <option value="44">LOG_ORAL_GLUCOSE_TOLERANCE - 44</option>
                            <option value="45">LOG_RANDOM_PLASMA_GLUCOSE - 45</option>
                            <option value="46">LOG_TRIGLYCERIDE - 46</option>
                            <option value="47">LOG_DR_PODIATRIST - 47</option>
                            <option value="48">LOG_DR_LIVER - 48</option>
                            <option value="49">LOG_VITAMIN_D - 49</option>
                            <option value="50">LOG_CHOLESTEROL_LDL - 50</option>
                            <option value="51">LOG_CHOLESTEROL_HDL - 51</option>
                            <option value="52">LOG_CHOLESTEROL_VLDL - 52</option>
                            <option value="53">LOG_CHOLESTEROL_TOTAL - 53</option>
                            <option value="54">LOG_PAIN - 54</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td>
                        <input type="text" id="time" size="20" value="" placeholder="Y-m-d H:i:s">
                        (optional, if blank, uses 'now') Remember - this is UTC/GMT.)
                    </td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td>
                        <input type="text" id="value" size="20" value="" placeholder="value">
                       
                    </td>
                </tr>
                <tr>
                    <td>Other:</td>
                    <td>
                        <input type="text" id="other" size="20" value="" placeholder="other">
                        (If applicable Enter Insulin Type # or Gl Type # from charts below)
                       
                    </td>
                </tr>
                <tr>
                    <td>Notes:</td>
                    <td>
                        <input type="text" id="notes" size="20" value="" placeholder="notes">
                        (optional)
                    </td>
                </tr>
            </tbody>
        </table>
}
        <p><input id ="submit" class="btn btn-success" type="button" value="Add Log"></p>
    </section>
</div>
    <dd># Type of insulin</dd>
        <table border="1" style="float:left;" >
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Humalog</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lantus</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Actrapid</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Humulin NPH</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Monotard</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Novorapid</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Humulin R</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Levemir</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Humalog mix 25</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Humalog mix 50</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Humulin 30/70</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>NovoMix 30</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Protaphane</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Mixtard 30/70</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Mixtard 50/50</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Apidra</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Novorapid</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Protaphane</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Tresiba</td>
                </tr>
            </tbody>
        </table>
    </dd>

    # GI Type 
    <br />
    <table style="height: 496px; width: 202px;" border="1" style="float:left;">
        <tbody>
            <tr>
                <td style="width: 11px;">1</td>
                <td style="width: 181px;">Low GI</td>
            </tr>
            <tr>
                <td style="width: 11px;">2</td>
                <td style="width: 181px;">Normal GI - use this by default</td>
            </tr>
            <tr>
                <td style="width: 11px;">3</td>
                <td style="width: 181px;">High GI</td>
            </tr>
            <tr>
                <td style="width: 11px;">4</td>
                <td style="width: 181px;">Very high GI (e.g. in the case of Hypo recovery)</td>
            </tr>
            <tr>
                <td style="width: 11px;">5</td>
                <td style="width: 181px;">Very low GI/Fatty (e.g. generally high fat foods such as pizza, lasagne)</td>
            </tr>
        </tbody>
    </table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            $('#submit').click(function () {
                $.ajax({
                    // Post token, log_type, time, value, notes
                    url: 'https://www.PredictBGL.com/api/1.0/add.json?',
                    method: 'POST',
                    ContentType: 'multipart/form-data',
                    dataType: 'JSON',
                    data: {
                        token: sessionStorage.getItem("Token"),
                        log_type: $('#log_type').val(),
                        time: $('#time').val(),
                        value: $('#value').val(),
                        notes: $('#notes').val(),
                    },
                    //need correct success verification
                    success: function (response) {
                        if (response.result == true) {
                            alert('Log Successfully Added')
                            window.location = '@Url.Action("UserHome", "PredictBGL")';
                        }
                        else
                            alert(response.message);
                    },
                    // Display errors if any in the Bootstrap alert <div>
                    error: function (jqXHR) {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                });
            });
        });
    </script>
}