@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> .NET Web Application Project</h1>
    <p class="lead">Welcome to Alexander's first .NET web application. This is a web interface for consuming the PredeictBGL Restful API.
    To test the service you will need to Register a free PredictBGL account. 
     </p>
    <p><a href="http://predictbgl.com/signup.html/" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Predict GBL</h2>
        <p>
            PredictBGL is a web application that tracks various data points and provides medical advice to people with diabetes.
        </p>
        <p><a class="btn btn-default" href="https://www.managebgl.com/">Predict GBL &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>First .Net Project</h2>
        <p>This is my frist .Net project and it was a great experience learning about the framework as well as Restful API and Ajax / JS </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/alexander-larios">About &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alexander</h2>
        <p>I am a Senior CS student at UMKC looking to gain experience and become a complete full stack developer</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/alexander-larios">LinkedIn &raquo;</a></p>
    </div>
</div>